# =========================================
# Python
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.so

# =========================================
# Virtual Environment
# =========================================

venv/
env/
.venv/
ENV/

# =========================================
# Jupyter
# =========================================

.ipynb_checkpoints/

# =========================================
# Streamlit
# =========================================

.streamlit/

# =========================================
# OS Files
# =========================================

.DS_Store
Thumbs.db

# =========================================
# Model Files
# =========================================

model/*.pkl

# =========================================
# Logs
# =========================================

*.log

# =========================================
# Dataset (optional if large)
# =========================================

dataset/*.csv

# =========================================
# Environment Variables
# =========================================

.env

# =========================================
# IDE
# =========================================

.vscode/
.idea/

# =========================================
# Temporary Files
# =========================================

*.tmp
*.bak
*.swp
